numpy 
pandas 
scipy 
grpcio 
bkzep 
hvplot 
protobuf 
pandasql 
ipython 
matplotlib 
ipykernel 
jupyter_client 
bokeh
panel
holoviews
seaborn
plotnine
intake 
intake-parquet 
altair 
pycodestyle 
apache_beam
redis